html {
    font-family: 'Heebo', Arial;
}

body {
    margin: -16px 0 0 0;
}

#content section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#content section > h2 {
    margin: 15px 0 30px 0;
    text-align: center;
}

#about {
    background: linear-gradient(to right, #286dc0, #00356b);
    color: white;
}

#about .headline-image {
    text-align: center;
}

#about .headline-text {
    padding: 20px 15px;
}

#about h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

#about h2 {
    margin: 0;
    padding-top: 15px;
    font-size: 25px;
    font-style: italic;
}

#about img {
    max-height: 400px;
}

#expertise,
#domain-expertise,
#technology,
#certifications {
    margin-bottom: 50px;
}

#expertise .col-sm-4,
#domain-expertise .col-sm-4 {
    padding: 15px !important;
}

#expertise .card,
#domain-expertise .card {
    padding-top: 10px;
    margin-bottom: 20px;
}

#expertise .card:hover > *,
#domain-expertise .card:hover > * {
    color: #286dc0;
    cursor: pointer;
}

#expertise i,
#domain-expertise i {
    text-align: center;
}

#expertise i:before,
#domain-expertise i:before {
    font-size: 60px;
}

#expertise h4,
#domain-expertise h4 {
    text-align: center;
}

#technologyShowcase .carousel-inner {
    text-align: center;
}

#technologyShowcase .carousel-item .tech-label {
    margin: 15px 0;
}

#technologyShowcase i:before {
    font-size: 60px;
}

#contact .social-media {
    margin-bottom: 25px;
}

#technology {
    background-color: #f9f9ff;
}

#contact a {
    text-decoration: none !important;
}

#contact i:before {
    font-size: 50px;
}

.icon-angular {
    color: #b52e31;
}

.icon-react {
    color: #00d8ff;
}

.icon-nodejs {
    color: #6cc24a;
}

.icon-js {
    color: #f7df1c;
}

.icon-js:before {
    background-color: black;
    height: 50px;
    margin-top: -4px;
    margin-left: 1px;
}

.icon-csharp {
    color: #0077b5;
}

.icon-visual-studio {
    color: #854cc7;
}

.icon-html5 {
    color: #e34f27;
}

.icon-css3-alt {
    color: #264de4;
}

.icon-phonegap {
    color: #854cc7;
}

.icon-ec3 {
    color: #ff9900;
}

.icon-database {
    color: #6cc24a;
}

.icon-git {
    color: #f05033;
}

.flaticon-azure {
    color: #008ad7;
    line-height: 1 !important;
}

.flaticon-hacker-news {
    color: #ff6600;
}

.flaticon-twitter {
    color: #1da1f2;
}

.flaticon-linkedin {
    color: #0077b5;
}

.flaticon-medium,
.flaticon-github {
    color: #000000;
}